html {
    position: relative;
    min-height: 100%;
}

.page-header {
    background-color: #15244e;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    max-width: 100%;
    margin-bottom: 20px;
    
    height:auto;
    
    
   
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
    
    
}

.content {
    margin-left: 10px;
    margin-bottom: 150px;
    margin-right: 10px

}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    line-height: 25px;

}

.post h2 a, .post h2 a:visited {
    color: #000000;
}


@media only screen and (max-width: 768px) {
    .page-header .page-header .post {
       max-width: 100%;
    }
}

@media only screen and (min-width: 601px) {
    div.example {
        font-size: 80px;
    }
}

@media only screen and (max-width: 600px) {
    div.example {
        font-size: 27px;
        }
}

/* footer*/
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}





    


