<footer class="footer text-white">
    <div class="row">
        <div class="col-md-4">
            <h3><a href="#">Connect with me</a></h3><br>
            <p>For more information on interesting articles</p>
            <div class="s-m">
                <a href="https://www.facebook.com/login/"><i class="fab fa-facebook"></i></a>
                <a href="https://twitter.com/login?lang=en"><i class="fab fa-twitter"></i></a>
                <a href="https://www.instagram.com/accounts/login/"><i class="fab fa-instagram"></i></a>
                <a href="https://web.whatsapp.com/"><i class="fab fa-whatsapp"></i></a>
            </div>
        </div>
    </div>
</footer>