<html>
    <head>
        <title>Celestial Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Martin's Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <h3>Introduction</h3>
            <p>Mobile wireless generation(G) generally refers to a change in the nature of the system, speed, technology, frequency, data capacity, latency etc.
                Each generation has some standards, different capacities, new techniques, and new features which differentiate it from the previous one.
                First generation(1G) was analog and used for voice calls only.
                Second generation(2G) is a digital technology and supports text messaging.
                Third generation(3G) provided higher data transmission rate, increased capacity and provided multimedia support.(videos and sound)
                Fourth generation(4G) integrates 3G with fixed internet to support wireless mobile internet. It increases the bandwidth and reduces the cost of resources.
                Fifth generation (5G) is to enable use cell phones within very high bandwidth. And used in internet of things.
                </p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <h3>Third Generation</h3>
            <p>Based on GSM and was launched in 2000. This technology was improved to offer high speed data upto 14 Mbps and more using packet switching.
                operates at a range of 2100MHz and a bandwidth of 15-20MHz used for high-speed internet service, video chatting.
                main features of 3G are:
                speed 2 Mbps
                typically called smart phones
                increased bandwidth and data transfer rates to accomodate web-based applications and audio files and video files
                high speed web/ more security/ video conferencing/ 3d gaming
                to  download a 3 minute mp3 song only 11 sec-1.5 mins time required
                high bandwidth requirement
                expensive 3G phones
                </p>
        </div>
    </body>
</html>